h1{
    text-align: center;
}

main{
    border-style: solid;
    border-radius: 20px;
    background-color: HSL(60, 100%, 85%);
    writing-mode: horizontal-tb;
    text-align: justify;
}

h2{
    text-align: center;
}

#main-section{
    margin: 2%;
}

#main-section img{
    width: 95%;
    height: auto;
}

p{
    text-indent: 2%;
}

footer{
    text-align: center;
}

a{
    text-decoration: none;
}