/*-------------------------------------Game Specific Styles------------------*/
#game-container, #game-board, #game-board li{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#game-container{
    align-items: center;
    justify-content: space-around;
}

#game-board{
    flex-direction: column;
    list-style-type: none;
}